.dictpage {

}

.twelfths-six {
    width: 50% ;
}

.twelfths-three {
    width: 25% ;
}

.twelfths-ten {
    width: 83% ;
    overflow: scroll;
}

img.dict-page {
    width: 60% ;
    height: auto ;
}

button.hide-until-selection-button {
    visibility: hidden;
}


.dict-words-on-page {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px;
}

.dict-words-on-page-header {
    color=blue ;
}

.dictpage-container {
}

.yes-no-radio-container {
    display: flex;
}



.cropper-page-div {
    width: 600px;
    height: 800px;
}


.menu {
    float: right;
}
